@media(min-width:320px){
    body{
        height: 100%;
    }
    .hidden{
        display: none;
    }
    .container{
        width: 98%;
        margin: 0 auto;
        background-color: pink;
        height: 100vh;
        position: relative;
    }
    
    .header{
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        height: 100vh;
        width: 98%;
        display: flex;
        flex-direction: column;
        align-items: start;
        z-index: 10;
    }

    nav{
        width: 80%;
    }
    
    .fa-bars-staggered{
        color: indigo;
        font-size: 40px;
        cursor: pointer;
        /* transition: all 0.5s; */
        
    }
    .deg{
        transform: rotate(180deg);
    }
    
    
        
    .header ul{
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
    .header ul a{
        color: indigo;
        font-weight: bold;
        font-family: 'Sigmar', cursive;
        background: radial-gradient(circle at 12.8% 28%, rgb(206, 155, 243) 0%, rgb(142, 229, 247) 90%);        padding: 10px;
        border-radius: 25px;
        display: inline-block;
        transition: all 0.5s;
    }
    .header ul a:hover{
        transform: scale(1.1);
    }
    /* ...........................................home.............. */
    #home .container{
        background: linear-gradient(63deg, rgb(242, 168, 168) 2.9%, rgb(94, 46, 165) 102.1%);

    }
    .background1 {
        width: 100%;
        height: 100vh;
        background: radial-gradient(circle at 10% 20%, rgb(246, 133, 133) 16.3%, rgb(172, 131, 241) 90%);
        position: relative;
    }
    .background{

        position: absolute;
        background-image: url(../images/aafdad.jpg);
        height: 100vh;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 0.5;
        border-radius: 0 40% 70% 0%;
    }
    .bgtext {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: white;
        text-shadow: 1px 1px indigo;
        font-size: 30px;
        font-weight: bold;
        position: absolute;
        border-radius: 100% 0 0 40%;
        width: 60%;
        height: 60vh;
        background: -o-radial-gradient(10% 20%, circle, rgb(246, 133, 133) 16.3%, rgb(172, 131, 241) 90%);
        background: radial-gradient(circle at 10% 20%, rgb(246, 133, 133) 16.3%, rgb(172, 131, 241) 90%);
        padding: 10px;
        text-align: end;
        bottom: 0;
        right: 0;
    }
    /* ...................................about........... */
    h2 {
        font-size: 55px;
        font-weight: bold;
        color: palevioletred;
        text-shadow: 2px 2px indigo;
        text-align: center;
        letter-spacing: 8px;
        font-family: 'Dancing Script', cursive;
        font-family: 'Pacifico', cursive;
        font-family: 'Sigmar', cursive;
        font-family: 'Vina Sans', cursive;
    }
    .about {
        position: relative;
        width: 100%;
    }
    .abtext{
        background-color: lightseagreen;
        border-radius:0 40%  70% 0% ;
        color: palevioletred;
        line-height: 140%;
        padding: 20px 50px 20px 0  ;
        font-family: 'Dancing Script', cursive;
        font-family: 'Pacifico', cursive;
        font-family: 'Sigmar', cursive;
        font-size: 14px;
        text-shadow: 1px 1px black;
        position: absolute;
        opacity: 0.6;
        transition: all 0.5s;
    }
    .img {
        background-image: url(../images/2.jpg);
        height: 90vh;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 0 40% 70% 0%;
    }
    .info {
        position: absolute;
        bottom: 0;
        background-color: lightseagreen;
        width: 100%;
        border-radius: 70% 0% 0 40%;
        padding: 50px;
        color: palevioletred;
        text-shadow: 1px 1px black;
        text-align: center;
        opacity: 0.6;
        transition: all 0.5s;
 }
 .info:hover, .abtext:hover{
    opacity: 1;
 }
 @media(min-width:700px){
      .header ul{
        height: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .header{
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        height: 10vh;
        padding: 0 20px;
        width: 98%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
    }
 }